@import "tailwindcss";

:root { --brand-blue: #0A84FF; }

html, body { height: 100%; }
body{
  background: #ffffff;
  color: #0F172A;  /* slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, "SF Pro Text","SF Pro Display","Helvetica Neue", Arial, "Noto Sans", "Segoe UI", Roboto, "Apple Color Emoji","Segoe UI Emoji";
}
a { color: inherit; }
